html {
    --black: DarkSlateGray;
    --gray: Tan;
    --white: PapayaWhip;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--black);
}

body {
    font-family: "Trebuchet MS", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    font-size: 1.5rem;
}

header span.latin {
    font-size: 2rem;
    font-family: 'Pacifico', inherit;
}

main {
    display: flex;
    justify-content: space-around;
}

main div.card {
    width: 8rem;
    height: 10rem;
    cursor: pointer;
    transition: border-image-width 0.2s, font-size 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-image-source: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg'%0AviewBox='0 0 1 1' width='100' height='100'%3E%3Cpath style='fill:none;stroke:DarkSlateGray;stroke-width:0.1;' d='M 0.6,0.05 H 0.95003149 V 0.4 M 0.4,0.9500315 H 0.05 V 0.6 M 0.6,0.95003149 H 0.9500315 V 0.6 M 0.4,0.05 H 0.05 V 0.4' /%3E%3C/svg%3E");
    border-image-slice: 50;
    border-image-width: 1rem;
}

main div.card:hover {
    border-image-width: 1.5rem;
    font-size: 1.8rem;
}

footer {
    font-size: 1.2rem;
    text-align: right;
}

footer a {
    color: inherit;
}

div#google {
    transform: scale(1.5);
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: relative;
}